.model-front {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}

.model-side {
    position: relative;
    float: right;
    width: 50%;
    height: 100%;
}

.model-image {
    position: absolute;
    height: 100%;
}
