.model-front {
    position: relative;
    float: left;
    width: 60%;
    height: 100%;
}

.model-side {
    position: relative;
    float: right;
    width: 40%;
    height: 100%;
}

.model-image {
    position: absolute;
    height: 100%;
}
